@model AcademiaFit.Application.ViewModels.ItemSerieViewModel
@{
    ViewData["Title"] = "AdicionarItemSerie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adição de Exercícios na Série</h1>
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AdicionarItemSerie" class="col-md-6 row">
            <div class="">
                <h4>Dados da Série</h4>
                <hr />
                <div class="form-group row">
                    <div class="col-6">
                        <label class="control-label">Exercicio</label>
                        <label class="control-label">Exercicio</label>
                        @Html.DropDownListFor(m => m.ItemSerie.Exercicio.Id, Model.ListaExercicios, "-- Por favor, selecione o exercício --", new { @class = "form-control", @id = "exercicioSelecionado" })
                        <span asp-validation-for="ItemSerie.Exercicio.Id" class="text-danger"></span>
                    </div>
                    <div class="col-2 pr-0">
                        <label asp-for="ItemSerie.NumeroSeries" class="control-label"></label>
                        <input asp-for="ItemSerie.NumeroSeries" class="form-control" id="numSeries" />
                        <span asp-validation-for="ItemSerie.NumeroSeries" class="text-danger"></span>
                    </div>
                    <div class="col-1" style="margin-top:35px;">X</div>
                    <div class="col-2 pl-0">
                        <label asp-for="ItemSerie.NumeroRepeticoes" class="control-label"></label>
                        <input asp-for="ItemSerie.NumeroRepeticoes" class="form-control" id="numReps" />
                        <span asp-validation-for="ItemSerie.NumeroRepeticoes" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-primary" value="+" style="height:50%;margin-top:32px;" />
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="ItemSerie.Observacoes" class="control-label"></label>
                        <input asp-for="ItemSerie.Observacoes" class="form-control" id="observacao" />
                        <span asp-validation-for="ItemSerie.Observacoes" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group">
                        <ul id="itemSerie" class="list-group">
                            @if (Model.ItemsDaSerie.Count() > 0)
                            {
                                @foreach (var ItemDaSerie in Model.ItemsDaSerie)
                                {
                                    <li class='list-group-item d-flex justify-content-between' id="@ItemDaSerie.Id"><div>@ItemDaSerie.Exercicio.Nome - @ItemDaSerie.NumeroSeries x @ItemDaSerie.NumeroRepeticoes</div> <i class="fas fa-trash itemTrash"></i></li>
                                }
                            }
                        </ul>
                    </div>*@
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            if (@TempData["Created"] == true) {
                toastr.success("Exercício adicionado com sucesso na Série.")
            }
        });
    </script>
}

